@mixin lineSpaceBetween() {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@mixin lineSpaceBetweenUp() {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
@mixin line($gap) {
  display: flex;
  align-items: normal;
  justify-content: center;
  gap: $gap;
}

@mixin lineCenter($gap) {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: $gap;
}
@mixin lineSpaceAround($gap) {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: $gap;
}

@mixin lineCenterLogo($gap) {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: $gap;
}
@mixin lineLeft($gap) {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: $gap;
}
@mixin lineLeftLogo($gap) {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  gap: $gap;
}

@mixin lineFooter($gap) {
  display: flex;
  gap: $gap;
}

@mixin ColumnLeft($gap) {
  display: flex;
  flex-direction: column;
  gap: $gap;
}

@mixin ColumnCenter($gap) {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $gap;
}
