// color
$colorForHeader: #292f36;
$colorForHeaderHover: #292f36a5;
$colorForButtonHover: #292f36e0;
$colorMainText: #4d5053;
$colorMainBackground: #fff;
$colorAdditionalBackground: #f4f0ec;
$colorDigit: #cda274;
$colorBorder: #e7e7e7;
$colorBackCounter: #f4f0ec;

// width
$siteWidth: 1200px;

// height

// fontSize
$fontSizeMain: 22px;
$fontSizeLogo: 40px;
$fontSizeHeaderMenu: 20px;
$fontSizeFooterMenuTitle: 25px;
$fontSizeIndexTitle: 65px;
$fontSizeNumber: 85px;

// font-family
$fontFamilyMain: "DM Serif Display", serif;
$fontFamilyAdditional: "Jost", sans-serif;
// gap
$gapLogoHeader: 10px;
$gapMenuHeader: 47px;
$gapMainFooter: 113px;
$gapSocial: 54px;
$gapFooterMenu: 15px;
$gapFooterContact: 26px;

// padding
$paddingHeaderTop: 53px;
$paddingFooterTop: 96px;
